/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
body {
    --primary: #8dc63f;
    --dark: #373737;
    --white: #ffffff;
    --light-grey: #fcfcfc;
    background-color: var(--light-grey);
}

.bg-dark {
    --bs-bg-opacity: none;
    background-color: var(--dark) !important;
}
